@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";


@theme {
  --font-atkinson: "AtkinsonHyperlegible_400Regular";
  --font-atkinson-bold: "AtkinsonHyperlegible_700Bold";
  --font-atkinson-italic: "AtkinsonHyperlegible_400Regular_Italic";
  --font-atkinson-bold-italic: "AtkinsonHyperlegible_700Bold_Italic";
}